;; contains no 400 response
;; therefore a protean error 500 will be generated when paired
;; with the matching sim ext which defines a 400 response

{
  "sample" {
    "simple" {
      :get {
        :rsp {
          :200 {}
          :501 {}
        }
      }
    }
  }
}
